*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
   height:100%;
   background-color: #FAFAFA;
    text-align: center;
}

.footer a{
    color: white;
}

.footer a:hover{
    color: #D6665A;
}

a{
    text-decoration: none;
    color: white;
}

div#date{
    color: #438496;
}

.column {
         float: left;
     }

.column.full { width: 100%; }
.column.two-thirds { width: 66.7%; }
.column.half { width: 50%;}
.column.third { width: 33.3%; }
.column.fourth { width: 25%; }
.column.three-fourths { width: 75%; }
.column.flow-opposite { float: right; }
.column.tenth { width: 10%; }
.column.nine-tenth { width: 90%; }
.column.three-fifths{width: 60%;}
.column.two-fifths{width: 40%;}
.column.four-fifths{width:80%}
.column.one-fifths{width:20%}
.column.ninety-five { width: 100%; }

.logo-box{
    float: left;
    height: 70px;
    display: table;
    margin-left: 10%;
}

.logo-box a{
    display: table-cell;
    vertical-align: middle;
}


.mobile-tabs{
    height: 70px;
    position: relative;
     -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
      z-index: 1;
}

.mobile-tabs ul, li, a {
    margin: 0;
    padding: 0;
}

.mobile-tabs li {
    list-style: none;
}
.mobile-tabs a {
    text-decoration: none;
    color: #000000;
}
.mobile-tabs ul > li {
    float: right;
    height: 70px;
    display: table;
    width: 200px;
}

.active{
    background-color: #D6665A;
    color: white;
}

.mobile-tabs ul > li i.fa.fa-navicon{
    display: table-cell;
    vertical-align: middle;
}

.mobile-tabs ul > li a {
    color: black;
    line-height: 40px;
    height:40px;
    display:block;
    padding:0px 5%;
}

.mobile-tabs ul li ul {
    display: none;
    position: absolute;
    background: white;
    top:70px;
    width: 200px;
    right: 0px;
    border-radius: 0 0 0 15px;
     -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
}

.mobile-tabs ul li ul li {
    float: none;
    text-align: center;
    display: table;
    height: 70px;
    width: 100%;
   
}

.mobile-tabs ul li ul li:hover {
    background-color: rgba(214, 102, 90, .1);
   
}

.mobile-tabs ul li ul li a{
    display: table-cell;
    vertical-align: middle;
    font-weight: normal;
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
}

.mobile-tabs ul li ul li a:hover{
    color: #D6665A;
}

.highlight{
    color: #438496;
}

.highlight-icon{
    color: white;
}

.fa.fa-navicon{
    font-size: 36px;
}

.fa.fa-navicon:hover{
    cursor: pointer;
}

.column.full.box.reveal-act h2{
    color: rgba(214, 102, 90, 1);
}

.column.full.box. p{
    padding-left: 5%;
}

#myIframe {
    width: 600px;
    height: 600px;
}


.instructional-link{
    color: #438496;
}

.instructional-link:hover{
    cursor: pointer;
    color: #D6665A;
}

.iframe-box-reading-worship{
    width: 60%;
    height: 600px;
    
}

.no-bottom-buff{
    margin-bottom: 0%;
}

.little-buff{
    margin-top: 3%;
}

.tiny-buff{
    margin-top: 1%;
}

.iframe-box-prayer{
    width: 95%;
    height: 600px;
    
    -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
    
    -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
    
    margin-top: 10px;
  margin-bottom: 30px;
  padding: 1%;  
  
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}

.iframe-box-reading{
    width: 60%;
    height: 600px;
    
    -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
    
    -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
    
    margin-top: 10px;
  margin-bottom: 30px;
  padding: 1%;  
  
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    
}

.yellow{
    color: #FDE541;
    
}

.orange{
    color: orange;
}

.red{
    color: red;
}

.exercise-box:hover{
    cursor: pointer;
    
}

#devotional-choice{
    color: #438496;
}

#devotional-choice:hover{
    color: #D6665A;
    cursor: pointer;
}

#sermon-choice{
    color: #438496;
}

#sermon-choice:hover{
    color: #D6665A;
    cursor: pointer;
}

#history-choice{
    color: #438496;
}

#history-choice:hover{
    color: #D6665A;
    cursor: pointer;
}

#contemporary-choice{
    color: #438496;
}

#traditional-choice{
    color: #438496;
}

#contemporary-choice:hover{
    color: #D6665A;
    cursor: pointer;
}

#traditional-choice:hover{
    color: #D6665A;
    cursor: pointer;
}

#contemporary-worship{
    margin-top: 0%;
}

#traditional-hymns{
    margin-top: 0%;
}

.button:hover{
    cursor: pointer;
    background-color: rgba(214, 102, 90, .9);
}

.hidden{
    display: none;
}

.tooltip:hover {
    cursor: pointer;
}

.act-title i{
    margin-right: 1%;
}

.buffer{
    margin-top: 10%;
}

.fill{
    position: fixed;
    bottom: 0;
}

.instructions{
    font-size: 32px;
    text-align: center;
    Font-family: Ubuntu, Helvetica, Arial, sans-serif;
    margin-bottom: 0%;
    font-weight: normal;
    margin-top: 15%;
    text-transform: uppercase;
}

.instructions-prayer-list{
    font-size: 32px;
    text-align: center;
    Font-family: Ubuntu, Helvetica, Arial, sans-serif;
    margin-bottom: 0%;
    font-weight: normal;
    margin-top: 0%;
    text-transform: uppercase;
}

.instructions-nations{
    font-size: 32px;
    text-align: center;
    Font-family: Ubuntu, Helvetica, Arial, sans-serif;
    margin-bottom: 5%;
    font-weight: normal;
    margin-top: 10%;
    text-transform: uppercase;
}

.instructions-offering{
    font-size: 32px;
    text-align: center;
    Font-family: Ubuntu, Helvetica, Arial, sans-serif;
    margin-bottom: 0%;
    font-weight: normal;
    margin-top: 0%;
    text-transform: uppercase;
    display:table-cell;
    vertical-align: middle;
}

.instructions-2{
    font-size: 24px;
    text-align: center;
    Font-family: Ubuntu, Helvetica, Arial, sans-serif;
    margin-bottom: 0%;
    font-weight: bold;
    margin-top: 2%;
    color: #D6665A; 
    line-height: 1.5;
}

#pm7-instructions a{
    color: #438496;
    font-size: 14px;
}

#pm7-instructions a:hover{
    cursor: pointer;
    color: #D6665A;
}

.instructions a:hover{
    cursor: pointer;
    color: #D6665A;
}


.tooltip {
    position: relative;
    display: inline-block;
}

.lords-prayer{
    font-size: 24px;
    text-align: left;
    Font-family: Ubuntu, Helvetica, Arial, sans-serif;
}

.lords-prayer h3{
    margin: 5%;
}

.lords-prayer p{
    margin-bottom: 2%;
    font-size: 14px;
    text-align: left;
    color: #438496;
}

#nation-3{
    font-size: 24px;
}

#nation-2{
    font-size: 24px;
}

#nation-1{
    font-size: 24px;
}

.prayer-list p{
    margin-bottom: 2%;
    font-size: 14px;
    text-align: left;
    color: #438496;
}

offering-list p{
    margin-bottom: 2%;
    font-size: 14px;
    text-align: left;
    color: #438496;
}

.left-arrow:hover{
    cursor: pointer;
    color: #D6665A;
}

.right-arrow:hover{
    cursor: pointer;
    color: #D6665A;
}

.prayer-list a{
    color: #438496;
}

offering-list a{
    color: #438496;
}

offering-list h3{
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
}

.prayer-key{
    height: 70px;
    display: table;
    text-align: center;
}

.prayer-key h4{
    display: table-cell;
    vertical-align: middle;
}

.prayer-list a:hover{
    cursor: pointer;
    color: #D6665A;
}

offering-list a:hover{
    cursor: pointer;
    color: #D6665A;
}

.lords-prayer a{
    color: #438496;
}

#prayer-list a{
     color: #438496;
    font-size: 14px;
}

#prayer-list a:hover{
     cursor: pointer;
    color: #D6665A;
}

.lords-prayer a:hover{
    cursor: pointer;
    color: #D6665A;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: #438496;
    background: -webkit-linear-gradient(left top, #438496, rgba(67, 132, 150, .8));
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 20px 20px;
    font-size: 18px;
    line-height: 1.5;
    font-family: Ubuntu, Helvetica, Arial, sans-serif;

    /* Position the tooltip */
    position: absolute;
    top:10px;
    z-index: 1;
}

.tooltip .tooltiptext-2 {
    visibility: hidden;
    width: 500px;
    background-color: #438496;
    background: -webkit-linear-gradient(left top, #438496, rgba(67, 132, 150, .8));
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 20px 20px;
    font-size: 18px;
    line-height: 1.5;
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    font-weight: normal;
    
    /* Position the tooltip */
    position: absolute;
    top:10px;
    right:0px;
    z-index: 1;
}

.tooltip:hover .tooltiptext-2 {
    visibility: visible;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

p{
    Font-family: Ubuntu, Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 1.5;
}

.logo-box img{
    height: 60px;
}

h3{
    font-family: 'Bitter', serif;
}

h1{
    font-family: 'Bitter', serif;
}

h2{
    font-family: 'Bitter', serif;}

h4{
    Font-family: Ubuntu, Helvetica, Arial, sans-serif;
}

.logo{
    
    height: 70px;
    display: table;
    vertical-align: middle;
    margin-left: 5%;
}

.sponsor{
    height: 70px;
    display: table;
}

.FAQ {
    height: 70px;
    display: table;
}

.sponsor h2{
    display: table-cell;
    vertical-align: middle;
}

.FAQ h2{
    display: table-cell;
    vertical-align: middle;
}

.logo a{
    height: 50px;
    width: auto;
    display: table-cell;
    vertical-align: middle;
    margin-left: 10%;
    margin-top: 2%;
}

.footer{
    background-color: #438496;
    background: -webkit-linear-gradient(left top, #438496, rgba(67, 132, 150, .7));

    text-align: center;
    color: white;
}

.footer h2{
    color: white;
    font-size: 1.3rem;
    font-weight: normal;
}
.footer p{
    font-size: .7rem;
    text-align:center;
    vertical-align: middle;
    display: table-cell;
}

.copyright{
    height:60px;
    display: table;
}

.faq{
    height:60px;
    display: table;
}

.faq h2{
    vertical-align: middle;
    display: table-cell;
}

.icon{
    height:60px;
    display: table;
}

.icon i{
    text-align:center;
    vertical-align: middle;
    display: table-cell;
    font-size: 36px;
}

.container{
    padding-right: 20%;
    padding-left: 20%;
}

.background{
    width: 60%;
}

.title{
    background-color: #FFFFFF;
    margin-top: 0%;
    box-shadow: 5px 0 5px -4px rgba(31, 73, 125, 0.8), -5px 0 4px -4px rgba(31, 73, 125, 0.8);
}

.title a{
    text-align: center;
    font-size: 36px;
    color:#D6665A; 
    font-weight: lighter;
}

.title a:hover{
    cursor: pointer;
    font-weight: bolder;
}

.button{
     background-color: #D6665A;
    text-shadow: #591717 1px 1px 1px;
    height: 70px;
    display: table;
    box-shadow: 6px 0 8px -4px rgba(31, 73, 125, 0.8), -6px 0 8px -4px rgba(31, 73, 125, 0.8);
}

.button h1{
    text-align: center;
    font-size: 24px;
    color:white;
    font-family: Ubuntu, Helvetica, Arial, sans-serif; 
    display: table-cell;
    vertical-align: middle;
}

.paxises{
    height:70px;
    display: table;
}

.prayer-paxises{
    height:70px;
    display: table;
    background-color: inherit;
}

.prayer-paxises p{
    display: table-cell;
    vertical-align: middle;
    padding-left: 3%;
    color: inherit;
}

.column.nine-tenth.paxises h4{
    
}

div.column.four-fifths.paxises h3{
    text-align: left;
    padding-left: 3%;
    display: table-cell;
    vertical-align: middle;
    font-weight: bolder;
}

div.column.one-fifths.paxises h3{
    text-align: right;
    padding-right: 10%;
    display: table-cell;
    vertical-align: middle;
    font-weight: bolder;
}

div.column.four-fifths.paxises h4{
    text-align: left;
    padding-left: 3%;
    display: table-cell;
    vertical-align: middle;
    font-weight: lighter;
}

div.column.one-fifths.paxises h4{
    text-align: right;
    padding-right: 10%;
    display: table-cell;
    vertical-align: middle;
    font-weight: lighter;
}

.box{
    height:70px;
    background-color: #FFFFFF;
    border-bottom: 1px solid black;
    box-shadow: 5px 0 5px -4px rgba(31, 73, 125, 0.8), -5px 0 4px -4px rgba(31, 73, 125, 0.8);
}

.prayer-top-box{
    height:70px;
    border-bottom: 1px solid black;
    box-shadow: 5px 0 5px -4px rgba(31, 73, 125, 0.8), -5px 0 4px -4px rgba(31, 73, 125, 0.8);
    border-radius: 15px 15px 0px 0px;
}

.prayer-round-box-1{
    height:70px;
    border-bottom: 1px solid black;
    box-shadow: 5px 0 5px -4px rgba(31, 73, 125, 0.8), -5px 0 4px -4px rgba(31, 73, 125, 0.8);
    border-radius: 15px 15px 15px 15px;
}

.prayer-round-box-2{
    height:70px;
    border-bottom: 1px solid black;
    box-shadow: 5px 0 5px -4px rgba(31, 73, 125, 0.8), -5px 0 4px -4px rgba(31, 73, 125, 0.8);
    border-radius: 15px 15px 15px 15px;
}

.prayer-round-box-3{
    height:70px;
    border-bottom: 1px solid black;
    box-shadow: 5px 0 5px -4px rgba(31, 73, 125, 0.8), -5px 0 4px -4px rgba(31, 73, 125, 0.8);
    border-radius: 15px 15px 15px 15px;
}

.bottom-buffer{
    margin-bottom: 5%;
}

.large-bottom-buffer{
    margin-bottom: 15%;
}

.prayer-round-box-4{
    height:70px;
    border-bottom: 1px solid black;
    box-shadow: 5px 0 5px -4px rgba(31, 73, 125, 0.8), -5px 0 4px -4px rgba(31, 73, 125, 0.8);
    border-radius: 15px 15px 15px 15px;
}

.prayer-round-box-5{
    height:70px;
    border-bottom: 1px solid black;
    box-shadow: 5px 0 5px -4px rgba(31, 73, 125, 0.8), -5px 0 4px -4px rgba(31, 73, 125, 0.8);
    border-radius: 15px 15px 15px 15px;
}

.prayer-middle-box{
    height:70px;
    border-bottom: 1px solid black;
    box-shadow: 5px 0 5px -4px rgba(31, 73, 125, 0.8), -5px 0 4px -4px rgba(31, 73, 125, 0.8);
    border-radius: 0px 0px 0px 0px;
}

.prayer-bottom-box{
    height:70px;
    border-bottom: 1px solid black;
    box-shadow: 5px 0 5px -4px rgba(31, 73, 125, 0.8), -5px 0 4px -4px rgba(31, 73, 125, 0.8);
    border-radius: 0px 0px 15px 15px;
}

.prayer-box{
    background-color: #FFFFFF;
    border-bottom: 1px solid black;
    box-shadow: 5px 0 5px -4px rgba(31, 73, 125, 0.8), -5px 0 4px -4px rgba(31, 73, 125, 0.8);
}

.flat-bottom{
    border-radius: 0px 0px 0px 0px;
}

.white{
    color: white;
}

.flat-bottom-2{
    border-radius: 15px 15px 0px 0px;
}

.flat-top{
    border-radius: 0px 0px 15px 15px;
}

.prayer-box-bottom{
    background-color: #FFFFFF;
    border-bottom: 1px solid black;
    box-shadow: 5px 0 5px -4px rgba(31, 73, 125, 0.8), -5px 0 4px -4px rgba(31, 73, 125, 0.8);
    border-radius: 0px 0px 15px 15px;
}

.bottom{
    border-bottom: 2px solid black;
}

.top{
    border-top: 1px solid black;
}


.box.final{
    border-bottom: 1px solid #FFFFFF;
}

button {
    background-color: #438496;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 15px;
    margin-bottom: 0%;
    font-weight: inherit;
    width: 100%;
}

.back-to-menu{
    margin-bottom: 5%;
}

.back-to-menu a{
    font-weight: lighter;
    color: #438496;
}

.back-to-menu a:hover{
    color: #D6665A;
}

.next-button{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

button:hover {
    cursor: pointer;
    font-weight: bold;
    background-color: #D6665A;
}

.fa.fa-info-circle.icon-title{
    font-size: 14px;
    padding-left: 1%;
}

.fa-info-circle{
    color: #808080;
}

.fa.fa-question-circle.icon-title:hover{
    cursor: pointer;
     color: #D6665A;
}

.date{
    margin-left: auto;
   margin-right: auto;
    float: none;
}

.date-arrow{
    display: table;
    height: 120px;
}

.date-arrow i{
    display: table-cell;
    vertical-align: middle;
    font-size: 36px;
}

.pop-down {
    font-size: 16px;
}

h1 i{
    margin-left: 5%;
    margin-right: 5%;
    display: table-cell;
    vertical-align: middle;
    float: left;
    margin-top: 1%;
}

.date h1{
    font-size: 48px;
    font-family: 'Bitter', serif;
    display: table;
    height: 50px;
    width: auto;
    text-align: center;
    width: 100%;
}

.act-title h2{
    font-size: 48px;
    font-weight: normal;
}

@media (max-width: 820px) {
    .container{
        padding-right: 10%;
        padding-left: 10%;
    }
    
    .column.three-fourths.date{
        width: 100%;
    }
    
    .iframe-box-reading-worship{
        width: 80%;
        height: 600px;
    }
    
    .iframe-box-reading{
        width: 80%;
        height: 600px;
    }
    
    .act-title h2{
        font-size: 36px;
    }
    
    p{
        font-size: 18px;
    }
    
    .prayer-key h4{
        font-size: 14px;
    }
    
    .instructions-2{
        font-size: 20px;
    }
    
}

@media (max-width: 615px) {
    
    
    .container{
        padding-right: 5%;
        padding-left: 5%;
    }
    
    .column.three-fourths.date{
        width: 100%;
    }
    
    .date h1{
        font-size: 36px;
        display: table-cell;
        vertical-align: middle;
    }
    
    .column.three-fifths.actual-date{
        height: 120px;
        display: table;
        
    }
    
    
    .date-arrow i{
      font-size: 24px; 
    }
    
    .title h2{
        font-size: 28px;
    }
    
    .iframe-box-reading-worship{
        width: 90%;
        height: 600px;
    }
    
    .iframe-box-reading{
        width: 90%;
        height: 600px;
    }
    
    
    .tooltip .tooltiptext {
        width: 300px;
        left: -100px
    }
    
    .tooltip .tooltiptext-2 {
    visibility: hidden;
        width: 250px;
        font-size: 14px;
    }
    
    
}

@media (max-width: 400px) {
    
    .logo-box{
        margin-left: 8%;
    }
    
    .prayer-list h3{
        font-size: 18px;
        
    }
    
    .lords-prayer h3{
        font-size: 18px;
        line-height: 1.5;
    }
    
    .prayer-key h4{
        font-size: 12px;
    }
    
    .reveal-act h2{
        font-size: 24px;
    }
    
    .act-title h2{
        font-size: 26px;
    }
    
    .tooltip .tooltiptext {
        width: 250px;
        font-size: 14px;
        left: -10px
    }
    
    p{
        font-size: 16px;
    }
    
     .iframe-box-reading-worship{
        height: 200px;
    }
    
    .iframe-box-reading{
        height: 450px;
        padding: 1%;
         -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
    }
    
    .instructions {
        font-size: 26px;
    }
    
    .instructions-offering{
        font-size: 26px;
    }
    
    .instructions-2 {
        font-size: 32px;
    }
    
    .mobile-pad h3{
        margin-right: 3%;
    margin-left: 3%;
    }
    
    button {
        padding: 20px 20px;
        font-size: 18px;
    }
    
    .instructions-2{
        font-size: 16px;
    }
    
    .mobile-tabs ul li ul {
        width: 200px;
    }
    
    .mobile-tabs ul > li {
        width: 100px;
    }
    
    .mobile-tabs ul li ul li a{
        font-size: 16px;
        line-height: 1.1;
    }
    
    .tooltip .tooltiptext-2 {
        width: 250px;
        font-size: 14px;
        right: -20px;
    }
}
